<p>Berikut detail orang yang telah menghubungi anda:</p>
<br><br>

Nama : <%= @nama %><br>
Email Pengirim: <%= @email %><br>
isi:<br> 
<%= @konten %><br><br>

<div style="float:right">
	<%= image_tag "http://3.bp.blogspot.com/-RMUND4skSUw/Ul_UwpRcF8I/AAAAAAAAC8U/gQf1n8Vd2Vg/s1600/Logo-Pertamina-transparent.png", :width=>"300", :height=>"70" %>
</div>
<br>
Terima Kasih<br>
<b>Tim Admin LTMS Pertamina</b><br>
<a hreff="http://www.ltms.co.id">www.ltms.co.id</a>