<p>Halo <b><%= @user.nama %></b></p>
<br><br>

Mohon maaf akun anda gagal masuk ke sistem kami<br>
hal ini bisa jadi diakibatkan karena :<br><br>

<ul>
  <li>Pembuatan akun ditolak oleh admin dikarenakan data kurang atau data tidak sesuai</li>
  <li>Akun dihapus oleh admin dikarenakan sudah tidak aktif atau dirasa terdapat ketidaksesuaian antara data di sistem kami dengan di lapangan</li>
</ul>
<br><br>

Perlu diketahui admin LTMS berhak melakukan penolakan pendaftaran dan menghapus akun jika dirasa ada kurang atau ketidak sesuaian informasi.<br>
Jika anda merasa data anda sudah sesuai silahkan menghubungi admin di 031 - 328 1556<br><br>

<div style="float:right">
	<%= image_tag "http://3.bp.blogspot.com/-RMUND4skSUw/Ul_UwpRcF8I/AAAAAAAAC8U/gQf1n8Vd2Vg/s1600/Logo-Pertamina-transparent.png", :width=>"300", :height=>"70" %>
</div>
<br>
Terima Kasih<br>
<b>Tim Admin LTMS Pertamina</b><br>
<a hreff="http://www.ltms.co.id">www.ltms.co.id</a>