<p>Hello <%= @resource.email %>!</p>

<p>Seseorang telah meminta pergantian password, kamu dapat melakukan pergantian password dengan melakukan klik pada link di bawah ini.</p>

<p><%= link_to 'Rubah Password Saya', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jika kamu tidak melakukan hal ini, silahkan abaikan email ini.</p>
<p>Terimakasih</p>
