<p>Halo <b><%= @resource.nama %></b></p><br><br>

Ini adalah email otomatis atas permintaan proses lupa password ID Portal LTMS<br>
Silahkan klik link berikut untuk mereset dan merubah password<br><br>

<p><%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token) %></p><br>


<div style="float:right">
	<%= image_tag "http://3.bp.blogspot.com/-RMUND4skSUw/Ul_UwpRcF8I/AAAAAAAAC8U/gQf1n8Vd2Vg/s1600/Logo-Pertamina-transparent.png", :width=>"300", :height=>"70" %>
</div>
<br>
Terima Kasih<br>
<b>Tim Admin LTMS Pertamina</b><br>
<a hreff="http://www.ltms.co.id">www.ltms.co.id</a>