<p>Dengan Hormat <b><%= @user.nama %></b></p><br>

Selamat! Akun Anda telah aktif dan siap untuk dipergunakan<br>
Anda bisa login menggunakan akun anda pada <a hreff="http://www.ltms.web.id">www.ltms.web.id</a><br><br>

<div style="float:right">
	<%= image_tag "http://3.bp.blogspot.com/-RMUND4skSUw/Ul_UwpRcF8I/AAAAAAAAC8U/gQf1n8Vd2Vg/s1600/Logo-Pertamina-transparent.png", :width=>"300", :height=>"70" %>
</div>
<br>
Terima Kasih<br>
<b>Tim Admin LTMS Pertamina</b><br>
<a hreff="http://www.ltms.co.id">www.ltms.co.id</a>