<div class='inner-body'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
        <h3 class="panel-title">Prasyarat</h3>
    </div>
    <div class='panel-body'>
			<div role="tabpanel">
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#agen" aria-controls="agen" role="tab" data-toggle="tab">Agen</a></li>
			    <li role="presentation"><a href="#spbe" aria-controls="spbe" role="tab" data-toggle="tab">SPPBE</a></li>
			    <li role="presentation"><a href="#lain" aria-controls="lain" role="tab" data-toggle="tab">Lain - Lain</a></li>
			  </ul>

			  <div class="tab-content">
				  <div role="tabpanel" class="tab-pane fade in active" id="agen">
				  	<ol>
				  		<li>Attachment Scan Surat Permohonan Pengajuan / Pembuatan KIM</li>
				  		<li>Attachment Scan Buku Uji Berkala Kendaraan Bermotor (KEUR)</li>
				  		<li>Attachment Scan Surat Izin Mengemudi (SIM) Pengemudi minimal B1</li>
				  		<li>Attachment Scan Surat Tanda Nomor Kendaraan (STNK)</li>
				  		<li>Attachment Kartu Tanda Penduduk (KTP) Pengemudi </li>
				  	</ol>
				  </div>
				  <div role="tabpanel" class="tab-pane fade" id="spbe">
				  	<ol>
				  		<li>Attachment Scan Surat Permohonan Pengajuan / Pembuatan KIM</li>
				  		<li>Attachment Scan Buku Uji Berkala Kendaraan Bermotor (KEUR) head dan skid tank</li>
				  		<li>Attachment Scan Surat Izin Mengemudi (SIM) Pengemudi minimal B2</li>
				  		<li>Attachment Scan Surat Tanda Nomor Kendaraan (STNK)</li>
				  		<li>Attachment Kartu Tanda Penduduk (KTP) Pengemudi</li>
				  		<li>Attachment Scan Sertifikat Tera</li>
				  	</ol>
				  </div>
				  <div role="tabpanel" class="tab-pane fade" id="lain">
				  	<ol>
				  		<li> Attachment Scan Surat Permohonan Pengajuan / Pembuatan KIM</li>
							<li> Attachment Scan Buku Uji Berkala Kendaraan Bermotor (KEUR) </li>
							<li> Attachment Scan Surat Izin Mengemudi (SIM) Pengemudi</li>
							<li> Attachment Scan Surat Tanda Nomor Kendaraan (STNK)</li>
							<li> Attachment Kartu Tanda Penduduk (KTP) Pengemudi </li>
							<li> Attachment Scan Sertifikat Tera (tergantung kondisi kendaraan)</li>
				  	</ol>
				  </div>
				</div>
			</div>
	  </div>
	</div>
</div>