Tabel menunjukan KIM yang belum di approve sama CREW
<table border=1>
<thead>
	<th>No. Polisi</th>
	<th>No. Registrasi</th>
	<Th colspan=2></th>
</thead>
<tbody>
	<% @kims.each_with_index do |kim| %>
		<tr>
			<td><%= kim.no_polisi %></td>
			<td><%= kim.no_registrasi %></td>
			<td><%= link_to "Approve", edit_dashboard_path(kim, :status=>"approve") %></td>
			<td><%= link_to "Reject", edit_dashboard_path(kim, :status=>"reject") %></td>
		</tr>
	<% end %>
</tbody>
</table>