<div class='inner-body'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="panel-title">Approval KIM by Crew</h3>
		</div>
		<div class='panel-body'>
			<table class="table">
				<thead>
					<th>No. Polisi</th>
					<th>No. Registrasi</th>
					<Th colspan=2></th>
				</thead>
				<tbody>
					<% @kims.each_with_index do |kim| %>
						<tr>
							<td><%= kim.no_polisi %></td>
							<td><%= kim.no_registrasi %></td>
							<td><%= link_to edit_dashboard_path(kim, :status=>"approve"), class: 'btn btn-success btn-xs' do %><span class='glyphicon glyphicon-ok'></span> Approve<% end %></td>
							<td><%= link_to edit_dashboard_path(kim, :status=>"reject"), class: 'btn btn-xs btn-danger' do %><span class='glyphicon glyphicon-remove'></span> Reject<% end %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>