<div class='inner-body'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class="panel-title">KIM Status</h3>
		</div>
		<div class='panel-body'>
			<div class="form-group">
				<%= link_to "Add KIM", new_kimm_path, class: "btn btn-primary" %>
			</div>
			<%= render "index_kim" %>
		</div>
	</div>
</div>